.accordion{
    color: #6e6d6d;
    cursor: pointer;
    padding: 16px;
    font-size: medium;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
}
.active, .accordion:hover{
    background-color: #005c81;
    color: white;
}
.panel{
    padding: 0 18px;
    background-color: white;
    display: none;
    overflow: hidden;
}
h1{
    color: #1b61a3;
}
a{
    color: #1b5aa3;
}
a:hover{
    letter-spacing: 2px;
    size: 20px;
}
a:visited{
    color: #306277;
}